body {

}

#container {
  display: flex;
  flex-direction: column-reverse;
  height: 1080px;
  
  background-image: url("C:/Users/Owner/Documents/GitHub/Pokemart-Menu-Project/pokemartBackground.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

#test {
    align-items: center;
    align-content: center;
}

#textBox {
    background-image: url("C:/Users/Owner/Documents/GitHub/Pokemart-Menu-Project/textBackground.png");
    background-size: cover;
    z-index: 1;
    height: 440px;
    width: 1260px;
    margin-left: 44px;
    margin-bottom: 44px;
    color: rgba(255, 255, 255, 0.808);
    font-size: 36px;
    word-spacing: 10px;
    font-family: sans-serif;
}

#text1 {
    margin-top: 90px;
    margin-left: 150px;
}

#text1 div {
    margin-left: -80px;
    margin-top: -20px;
    line-height: 70px;
}

#buysell {
    background-image: url("C:/Users/Owner/Documents/GitHub/Pokemart-Menu-Project/buysell.png");
    position: absolute;
    z-index: 2;
    height: 278px;
    width: 255px;
    top: 20px;
    left: 100px;
}