body {
    font-family: sans-serif;
}

#container {
  display: flex;
  flex-direction: column-reverse;
  height: 1080px;
  
  background-image: url("C:/Users/Owner/Documents/GitHub/Pokemart-Menu-Project/pokemartBackground.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

#test {
    align-items: center;
    align-content: center;
}

#textBox {
    background-image: url("C:/Users/Owner/Documents/GitHub/Pokemart-Menu-Project/textBackground.png");
    background-size: cover;
    z-index: 1;
    height: 440px;
    width: 1260px;
    margin-left: 44px;
    margin-bottom: 44px;
    color: rgba(255, 255, 255, 0.808);
    font-size: 36px;
    word-spacing: 10px;
    font-family: sans-serif;
}

#text1 {
    margin-top: 90px;
    margin-left: 150px;
}

#text1 div {
    margin-left: -80px;
    margin-top: -20px;
    line-height: 70px;
}

#buysell {
    background-image: url("C:/Users/Owner/Documents/GitHub/Pokemart-Menu-Project/buysell.png");
    position: absolute;
    z-index: 2;
    height: 278px;
    width: 255px;
    top: 20px;
    left: 100px;
}

#pokeicon1 {
    position: absolute;
    top: 40px;
    left: -10px;
}

#buyPage {
    display: none;
    position: absolute;
}

#buyTable {
    background-image: url("buyTable.png");
    position: absolute;
    top: -1050px;
    left: 550px;
    width: 779px;
    height: 977px;
    color: rgba(255, 255, 255, 0.808);
    font-family: sans-serif;
}

#buyTable div {
    margin-top: 150px;
    margin-left: 80px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#buyTable a {
    width: 50%;
    text-align: right;
    font-size:38px;
    margin-bottom: 26px;
}

#moneyicon {
    background-image: url("moneyicon.png");
    position: absolute;
    top: -1050px;
    left: 20px;
    width: 475px;
    height: 122px;
    color: rgba(255, 255, 255, 0.808);
    text-align: center;
    font-family: sans-serif;
    font-size: 42px;
    line-height: 130px;
}

#quantity {
    position: absolute;
    top: -910px;
    left: 20px;
    height: 140px;
    width: 470px;
    background-color: rgba(41, 34, 27, .9);
    border: 14px solid #c0c0c0;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.808);
    font-size: 32px;
    padding: 10px;
    line-height: 60px;
}

#itemDescription {
    position: absolute;
    top: -430px;
    left: 20px;
    height: 220px;
    width: 470px;
    background-color: rgba(41, 34, 27, .9);
    border: 14px solid #c0c0c0;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.808);
    font-size: 32px;
    padding: 10px;
    line-height: 60px;
}

#moneyCounter {
    background-image: url("moneyCounter.png");
    width: 491px;
    height: 171px;
    position: absolute;
    top: -590px;
    left: 20px;
    display: none;
}

#amount {
    position: absolute;
    top: 76px;
    left: 126px;
    color: rgba(255, 255, 255, 0.808);
    font-size: 42px;
}

#price {
    position: absolute;
    top: 85px;
    right: 40px;
    color: rgba(255, 255, 255, 0.808);
    font-size: 40px;
}

#buyTextBackground {
    background-image: url("textBackground.png");
    width: 1260px;
    height: 440px;
    position: absolute;
    top: -530px;
    left: 40px;
    z-index: 2;
    display: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 40px;
}

#buyFirstLine {
    color: rgba(255, 255, 255, 0.808);
    font-size: 40px;
    z-index: 2;
    position: absolute;
    top: -450px;
    left: 200px;
    width: 500px;
}

#buyOtherLines {
    color: rgba(255, 255, 255, 0.808);
    font-size: 40px;
    z-index: 2;
    position: absolute;
    top: -380px;
    left: 110px;
    width: 500px;
    line-height: 68px;
}

#pokeicon2 {
    position: absolute;
    top: -668px;
    left: 984px;
    z-index: 3;
}

#yesno {
    background-image: url("yesno.png");
    width: 355px;
    height: 297px;
    position: absolute;
    top: -750px;
    left: 955px;
    z-index: 2;
    display: none;
}

#buyCursor {
    position: absolute;
    top: 130px;
    left: 32px;
    width: 75px;
    z-index: 1;
}

#highlightBorder {
    border: 3px solid #136e7e;
    border-radius: 40px;
    position: absolute;
    top: -15px;
    left: 0px;
    height: 60px;
}